html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*,
*
:before,
:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}
body {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('./images/chuttersnap-JChRnikx0tM-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
div.main {
  width: 1520px;
}
div.main::after {
  content: "";
  background: url('./images/medium\ 1280*853\ .jpg');
  opacity: 0.8;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1; 
  background-repeat: no-repeat;
  background-size: cover;
}
/* Beginning of Welcome Note  */

h1.text-light {
    text-shadow: 1px -1px 8px black;
    align-items: center;
    justify-content: center;
    font-size: 80px;
}
div.container h2#welcome-note {
    padding-left: 200px;
    font-weight: bold;
    color: #ffffff;
    text-shadow: 1px -1px 8px black
}
/* End of Welcome Note */

/* Beginning of form */
#form {
     border: 2px solid purple;
    border-radius: 4px;
    box-shadow: 0px 0px 5px gray;
    padding: 20px;
    background-color: rgba(255,255,255,0.7)
}
form#form input {
    border: 1px solid #000000;
    margin-top: 5px;
    margin-bottom: 5px;
}
input#yourNames {
    color: rgb(128,0,0);
}
input#centuryBorn {
    color: rgb(128,0,0);
}
input#yearBorn {
    color: rgb(128,0,0);
}
input#dayBorn {
    color: rgb(128,0,0);
}
div#two.card {
    padding: 40px;
    background-color: rgba(128,0,0,0.3);
    border: 2px solid purple;
    border-radius: 4px;
    box-shadow: 0px 0px 5px gray;
    margin-top: 20px;
    display: flex;
}
div.card div#result h2 {
    color: #000000;
    font-weight: bold;
}
#output {
    color: rgb(128,0,0);
    border: 2px solid purple;
    border-radius: 4px;
    padding: 2px;
}
div.form-group input#output {
    width: 100%;
}
button.btn {
    color: #ffffff;
    background-color: rgb(128,0,0);
}
p#one {
    background-color: #ffffff;
    border: 2px solid purple;
    box-shadow: 0px 0px 20px gray;
    padding: 10px;
    margin: 0 7.5% 0 8%;
}
p#two {
    margin: 30px 0 0 500px;
}
p#two span {
    font-weight: bold;
}

/* End of Form */