html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*,
*
:before,
:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}
body {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('./images/chuttersnap-JChRnikx0tM-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
div.main {
  width: 1520px;
}
div.main::after {
  content: "";
  background: url('./images/medium\ 1280*853\ .jpg');
  opacity: 0.8;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1; 
  background-repeat: no-repeat;
  background-size: cover;
}
/* Beginning of Welcome Note  */

h1.text-light {
    text-shadow: 1px -1px 8px black;
    align-items: center;
    justify-content: center;
    font-size: 80px;
}
div.container h2#welcome-note {
    padding-left: 200px;
    font-weight: bold;
    color: #ffffff;
    text-shadow: 1px -1px 8px black
}
/* End of Welcome Note */

/* Beginning of form */
#form {
     border: 2px solid purple;
    border-radius: 4px;
    box-shadow: 0px 0px 5px gray;
    padding: 20px;
    background-color: rgba(255,255,255,0.7)
}
form#form input {
    border: 1px solid #000000;
    margin: 5px 0 5px 0;
}
input#yourNames {
    color: rgb(128,0,0);
}
input#centuryBorn {
    color: rgb(128,0,0);
}
input#yearBorn {
    color: rgb(128,0,0);
}
input#dayBorn {
    color: rgb(128,0,0);
}
div#two.card {
    padding: 40px;
    background-color: rgba(128,0,0,0.3);
    border: 2px solid purple;
    border-radius: 4px;
    box-shadow: 0px 0px 5px gray;
    margin-top: 20px;
    display: flex;
}
div.card div#result h2 {
    color: #000000;
    font-weight: bold;
}
#output {
    color: rgb(128,0,0);
    border: 2px solid purple;
    border-radius: 4px;
    padding: 2px;
}
div.form-group input#output {
    width: 100%;
}
button.btn {
    color: #ffffff;
    background-color: rgb(128,0,0);
}
p#one {
    background-color: #ffffff;
    border: 2px solid purple;
    box-shadow: 0px 0px 20px gray;
    padding: 10px;
    margin: 0 7.5% 0 8%;
}
p#one span#three {
    font-weight: bold;
    color: rgb(128,0,0);
}
p#two {
    margin: 30px 0 0 500px;
}
p#two span {
    font-weight: bold;
}

/* End of Form */

/* Beginnin of Media Queries */
@media only screen and (max-width: 1400px) {

    div.jumbotron-fluid {
     background-color: rgb(128,0,0);
    }
    h1.text-light {
        padding: 100px 0 0 20px;
        text-shadow: 1px -1px 8px black;
        font-size: 70px;
    }
    p#one {
        margin: 20px 200px 0 220px;
        text-align: center;
    }
    p#two span {
        color: #ffffff;
    }
}
@media only screen and (max-width: 1200px) {
    h1.text-light {
        padding: 50px 0 0 50px;
        font-size: 55px;
    }
    h2#welcome-note {
        position: absolute;
        font-weight: 5px;
        margin: -5px 0 -300px -100px;
    }
    #form {
        margin-top: 20px;
    }
    div#two.card {
        margin-top: 35px;
    }
    p#one {
        margin: 20px 300px 0 310px;
        text-align: center;
    }
    p#two span {
        color: #ffffff;
    }
}
@media only screen and (max-width: 992px) {
    h1.text-light {
        padding-left: 10px;
        font-size: 44px;
    }
    h2#welcome-note {
        margin: -5px 0 0 -200px;
        position: absolute;
        font-weight: 5px;
    }
    #form {
        margin-top: 20px;
    }
    div#two.card {
        margin-top: 35px;
    }
    p#one {
        margin: 20px 400px 0 430px;
        text-align: center;
    }
}
 @media only screen and (max-width: 768px) {
    h1.text-light {
        padding: 250px 0 0 -40px;
        font-size: 30px;
        font-weight: bolder;
    }
    h2#welcome-note {
        margin: -5px 0 0 -280px;
        position: absolute;
        font-weight: 5px;
    }
   #form {
        margin-top: 20px;
    }
    div#two.card {
         margin: 0 16px 0 16px;
        }
    p#one {
        margin: 20px 430px 0 430px;
        text-align: center;
        padding: 10px;
    }
}
@media only screen and (max-width: 576px) {
    h1.text-light {
        padding: 250px 0 0 -40px;
        font-size: 30px;
        font-weight: bolder;
    }
    h2#welcome-note {
        margin: -5px 0 0 -190px;
        position: absolute;
        font-weight: 5px;
        font-size: 20px;
    }
    #form {
      margin-top: 20px;
    }
    div#two.card {
         margin: 0 16px 0 16px;
    }
    p#one {
        margin: 20px 515px 0 515px;
        text-align: center;
        padding: 10px;
    }
    p#two span {
          color: #ffffff;
    }
    p#two {
      margin-left: 510px;
    }
}
/* End of Media Queries */